<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.dao.WordSituationVOMapper">

  <resultMap id="BaseResultMap" type="com.study.domain.WordSituationVO">
    <id column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="VOICE_ADDRESS" jdbcType="VARCHAR" property="voiceAddress" />
    <result column="PICTURE_ADDRESS" jdbcType="VARCHAR" property="pictureAddress" />
    <result column="CHINESE_TRANSLATION" jdbcType="VARCHAR" property="chineseTranslation" />
    <result column="SITUATION" jdbcType="VARCHAR" property="situation" />
    <result column="NUMBER" jdbcType="INTEGER" property="number" />
  </resultMap>

  <sql id="Base_Column_List">
    NAME, VOICE_ADDRESS, PICTURE_ADDRESS, CHINESE_TRANSLATION
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from word_situation
    where NAME = #{name,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from word_situation
    where NAME = #{name,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.study.domain.WordSituationVO">
    insert into word_situation (NAME, VOICE_ADDRESS, PICTURE_ADDRESS, 
      CHINESE_TRANSLATION)
    values (#{name,jdbcType=VARCHAR}, #{voiceAddress,jdbcType=VARCHAR}, #{pictureAddress,jdbcType=VARCHAR}, 
      #{chineseTranslation,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.study.domain.WordSituationVO">
    insert into word_situation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        NAME,
      </if>
      <if test="voiceAddress != null">
        VOICE_ADDRESS,
      </if>
      <if test="pictureAddress != null">
        PICTURE_ADDRESS,
      </if>
      <if test="chineseTranslation != null">
        CHINESE_TRANSLATION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="voiceAddress != null">
        #{voiceAddress,jdbcType=VARCHAR},
      </if>
      <if test="pictureAddress != null">
        #{pictureAddress,jdbcType=VARCHAR},
      </if>
      <if test="chineseTranslation != null">
        #{chineseTranslation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.study.domain.WordSituationVO">
    update word_situation
    <set>
      <if test="voiceAddress != null">
        VOICE_ADDRESS = #{voiceAddress,jdbcType=VARCHAR},
      </if>
      <if test="pictureAddress != null">
        PICTURE_ADDRESS = #{pictureAddress,jdbcType=VARCHAR},
      </if>
      <if test="chineseTranslation != null">
        CHINESE_TRANSLATION = #{chineseTranslation,jdbcType=VARCHAR},
      </if>
    </set>
    where NAME = #{name,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.study.domain.WordSituationVO">
    update word_situation
    set VOICE_ADDRESS = #{voiceAddress,jdbcType=VARCHAR},
      PICTURE_ADDRESS = #{pictureAddress,jdbcType=VARCHAR},
      CHINESE_TRANSLATION = #{chineseTranslation,jdbcType=VARCHAR}
    where NAME = #{name,jdbcType=VARCHAR}
  </update>

    <!--根据页面需求查询背诵的单词 必传参数:情境ID,可选参数:开始编号,截止编号-->
    <select id="getSituationWords" parameterType="Map" resultMap="BaseResultMap">
        SELECT t1.*,t2.NUMBER,t2.SITUATION
        from word_situation t1,word_situation_number t2
        where t1.`NAME` = t2.`NAME`
        AND SITUATION = #{situation,jdbcType=VARCHAR}
        ORDER BY NUMBER ASC
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>
</mapper>